In [1]:
%%sql

create table dbo.t1 using DELTA as (
    select * from t2 full outer join t3 limit 10000
)

In [2]:
%%sql

optimize dbo.t1 vorder

In [3]:
%%sql

select age, countryOrRegion, count(1) as total from dbo.t1 group by age, countryOrRegion sort by 3 desc